.footer-container {
    margin-top: 140px;
    padding: 15px;
    margin-bottom: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #D0D5DD;
    ;
}

.footer-container span {
    color: #667085;
}

.footer-container img, span {
    margin-top: 20px;
}

@media screen and (min-width: 700px) {
    .footer-container {
        flex-direction: row;
    }
}